extends layout

block content
  .flex.justify-center.items-center.h-screen
    .flex.flex-col.gap-4.max-w-sm
      .flex.flex-col.gap-2.items-center.bg-slate-50.rounded-xl.pt-8.pb-2.px-8.shadow-lg
        img(src=qr, style="width:fit-content")

        p(class="italic text-xs text-slate-950/60 py-2") Points to&nbsp;
          a(href=pointsTo target="_blank" rel="noopener noreferrer").underline #{pointsTo}

      div(class="flex flex-col md:flex-row gap-4")
        a(href="/").bg-slate-50.rounded-xl.p-2.flex-1.flex.justify-center.items-center Go Back
        a(href=qr download="qrcode.png" class="rounded-xl p-2 flex-1 flex items-center justify-center gap-2 bg-blue-400 hover:shadow-lg transition text-blue-950 hover:text-slate-950 font-bold")
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-5 h-5">
            <path stroke-linecap="round" stroke-linejoin="round" d="M3 16.5v2.25A2.25 2.25 0 005.25 21h13.5A2.25 2.25 0 0021 18.75V16.5M16.5 12L12 16.5m0 0L7.5 12m4.5 4.5V3" />
          </svg>
          | Download