extends layout

block content
  form(action="/generate" method="post")
    label(for="size") Size
    select#size(name="size")
      option(value="s") Small (400x400)
      option(value="m") Medium (800x800)
      option(value="l" selected) Large (1600x1600)
      option(value="v") Very Large (3000x3000)
    label(for="error") Error Correction
    select#error(name="error")
      option(value="l") Low
      option(value="m" selected) Medium
      option(value="q") Quartile
      option(value="h") High
    span(style="font-size:.8em;color:#ffffffaa") Select a smaller error correction when able. Higher error correction is not necessary when damage or altercation is not expected.
    label(for="color") Color
    select#color(name="color")
      option(value="w" selected) Black on White
      option(value="t") Black on Transparent
    span(style="font-size:.8em;color:#ffffffaa") Most QR code readers expect the dots to be darker. Do not invert these colors.
    label(for="margin") Margin
    input#margin(type="number" name="margin" value="4")
    label(for="link") Link
    input#link(required, name="url")
    input(type="submit" value="Submit")